<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whowascns"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.example.whowascns.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.whowascns.Second"
            android:label="@string/title_activity_second" >
        </activity>
        <activity android:name="com.example.whowascns.SecondScreenActivity" >
        </activity>
        <activity android:name="com.example.whowascns.ThirdScreenActivity" >
            <intent-filter>
                <action android:name="com.example.whowascns.Second" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.example.whowascns.IndividualView" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.whowascns.IndividualViewActivity" >
            <intent-filter>
                <action android:name="com.example.whowascns.IndividualViewTwoActivity" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.whowascns.IndividualViewTwoActivity" >
        </activity>
        <activity android:name="com.example.whowascns.IndividualViewThreeActivity" >
        </activity>
        <activity
            android:name="com.example.whowascns.AdjustLiftPatternActivity"
            android:label="@string/title_activity_adjust_lift_pattern" >
        </activity>
    </application>

</manifest>