<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kohlerbear.whowascnscalc"
    android:versionCode="12"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="L" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <!--
            <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".OpeningDashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".Second"
            android:label="@string/title_activity_second"
            android:theme="@style/AppBaseLight" >
        </activity>
        -->
        <activity
            android:name=".deprecated.SecondScreenPrototype"
            android:label="@string/title_activity_revampedsecond_screen" >
        </activity>
        <!--
            <activity
            android:name=".About531Fragment"
            android:label="@string/title_activity_about531"
            android:theme="@style/AppBaseTheme" >
        </activity>
        -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <!--
            <activity
            android:name=".deprecated.ThirdScreenPrototype"
            android:label="@string/title_activity_third_screen_prototype"
            android:theme="@style/AppBaseTheme" >
        </activity>
        -->
        <activity
            android:name=".IndividualViewsPrototype"
            android:label="@string/title_activity_individual_views_prototype"
            android:theme="@style/AppBaseLightThemeNoTitleBar" >
        </activity>
        <activity
            android:name=".TabPrototype"
            android:label="@string/title_activity_tab_prototype"
            android:theme="@style/AppBaseLight"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".IndividualDayView"
            android:label="@string/title_activity_individual_day_view"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".AccessoryFragment"
            android:label="@string/title_activity_accessory_lift_tab_host"
            android:theme="@style/AppBaseTheme" >
        </activity>
    </application>

</manifest>